
body{
    margin: 0;
    padding: 0;
}
/* nav section start */
.navbar{
    width: 100%;
    height: 5vw;
    background: rgba(255, 255, 255, .1);
    transition: .3s;
    backdrop-filter: blur(10px);
    border-bottom:2px solid rgba(255, 255, 255, .2);
    align-items: center;
}
.container-fluid{
    padding: 0;
}
button.navbar-toggler.collapsed{
    padding: 0;
}
button.navbar-toggler{
    padding: 4px 0px;
}
.navbar::before{
    content: "";
    left: 0;
   left: -100%;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: 1s;
}
.navbar:hover:before{
    left: 100%;
}
.navbar a{
    color: rgb(255, 9, 234);
    text-decoration: none;
    font-size: 25px;
    margin-left: 20px;
}
.navbar a:hover{
    color: rgb(5, 9, 255);
}
/* nav section end */


/* home section start */
.welcome{
    margin-top: 180px;
    align-items: center;
    justify-content: center;
    padding: 0;
    }
.welcome  h1{
    padding: 0;
}
    .first-section{
        background-color: rgb(90, 18, 97);
        background-image: radial-gradient(270px circle at 0% 0%, white, transparent 100%)
        ;
        width: 100%;
        height: 100vh;
    }

    /* about section start */
.about-section{
    background-color:  rgb(90, 18, 97);
    background-image: radial-gradient(220px circle at 90% 50%, rgb(151, 144, 144), transparent 100%)
        ;
}
.about {
    margin-top: 150px;
}
.about h1{
        font-weight: 800;
        font-size: 50px;
        color: transparent;
        -webkit-text-stroke: 1px rgb(255, 255, 255);
        background-image: url(/images/color-multiple.png);
        -webkit-background-clip: text;
        animation: back 20s linear infinite;
    }
    @keyframes back{
        100%{
            background-position: 1000px 0;  
        }
    }

   /* about section end */


 /* services section start */
 .services-sec{
    background-color:  rgb(90, 18, 97);
    background-image: radial-gradient(220px circle at 90% 50%, rgb(151, 144, 144), transparent 100%);
   }
.container-serv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.container-2{
    width: 300px;
    height: 400px;
    margin-top: 20px;
    perspective: 400px;
}
.container-2:hover > .card-1{
    cursor: pointer;
    transform: rotateY(180deg);
}
.card-1{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}
.card-1:hover{
    cursor: pointer;
    transform: rotateY(180deg);
}
.front,
.front-1,
.front-2,
.front-3,
.front-4,
.front-5,
.back,
.back-1,
.back-2,
.back-3,
.back-4,
.back-5{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}
.front{
    background-image: url(/icons/web-design\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    border:2px solid rgba(255, 255, 255, .2);
    padding: 0;
}
.front-1{
    background-image: url(/icons/audio\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    border:2px solid rgba(255, 255, 255, .2);
    padding: 0;
}
.front-2{
    background-image: url(/icons/curve\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    background-color:rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    border:2px solid rgba(255, 255, 255, .2);
    padding: 0;
}
.front-3{
    background-image: url(/icons/camera\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    border:2px solid rgba(255, 255, 255, .2);
    padding: 0;
}
.front-4{
    background-image: url(/icons/animation\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    border:2px solid rgba(255, 255, 255, .2);
    padding: 0;
}
.front-5{
    background-image: url(/icons/film-editing\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    border:2px solid rgba(255, 255, 255, .2);
    padding: 0;
}
.back,
.back-1,
.back-2,
.back-3,
.back-4,
.back-5{
    background-color: rgba(255, 255, 255, .1);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.front{
    justify-content: center;
    align-items: center;
}
.button1 {
    position: relative;
    height: 50px;
    width: 100px;
    border-radius: 50px;
    border: none;
    outline: none;
    margin: 50px 100px;
    color: #000;
    top: 270px;
}
.button1:first-child{
    background: linear-gradient(90deg, #f442a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    color: #000;
}
 .button1:first-child::before{
    content: "";
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(20px);
    transition: opacity 0.5s;
    color: #000;
    opacity: 0;
}

.button1{
    animation: glow 8s linear infinite;
}
@keyframes glow {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
/* services section end */


/* sills section start */
.skills-section{
    background-color: rgb(90, 18, 97);
}
.logos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}
.logo{
    margin: 15px 60px;
    
}
.logo img{
    width: 4vw;
}
.logo img{
    transition: all 1s ease;
}
.logo img:hover{
    transform: scale(1.3);
}
/* portfilio section start */
.portfolio-sec{
    background-color:  rgb(90, 18, 97);
    background-image: radial-gradient(220px circle at 90% 50%, rgb(151, 144, 144), transparent 100%)
    ;
}
.port{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.project,
.projects{
    margin: 20px 30px;
}
.project img{
    height: 20vw;
}
.projects img{
    height: 20vw;
}
.project img{
    transition: transform 1000ms;
}
.projects img{
    transition: transform 1000ms;
}
.project img:hover{
    transform: scale(1.1);
    border-radius: 10px;
}
.projects img:hover{
    transform: scale(1.1);
    border-radius: 10px;
}

/* portfolio section end */




/* privious section start */
.sample-sec{
    background-color: rgb(90, 18, 97);
}
.card2{
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
    backdrop-filter: blur(15px);
    border-radius: 18px;
    padding-bottom:  15px;
}
.card2 img{
    border-radius: 18px;
    height: 30vh;

}
.previous-work{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}
.card2{
    margin: 20px 35px;
}
/* contact section start */
.contact-section{
    background-color: rgb(90, 18, 97);
}

.form-section{
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
    backdrop-filter: blur(5px);
    border-radius: 18px;
    padding-bottom:  15px;
}
.icon img{
    margin: 0 10px;
}
.form{
    margin: 10px 40px;
}

/* footer section start */
.footer{
    background:rgb(114, 5, 109);
    height: 30vh;
}
.footer-link a{
text-decoration: none;
color: aliceblue;
}
.privacy a{
    text-decoration: none;
    color: aliceblue;
}
/* footer section end */



/* media query for mobile start */
@media screen and (max-width: 767px){
    .navbar{
        position: fixed;
        top: 0;
        left: 0px;
    width: 100%;
    height: 25vw;
    background: rgba(255, 255, 255, .1);
    transition: .3s;
    backdrop-filter: blur(5px);
    border-bottom:2px solid rgba(255, 255, 255, .2);
    align-items: center;
    }
    .navbar::before{
        content: "";
        left: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
        transition: 1s;
    }
    .contact-section{
        width: 100%;
    }
    .sample-sec .card2{
        margin-left: 45px;
    }
    .contact-section .color:nth-child(1){
        width: 0px;
        height: 0px;
        background-color: none;
        top: 0px;
    }
    .contact-section .color:nth-child(2){
        width: 0px;
        height: 0px;
        background-color: none;
        bottom:0px;
        left: 0px;
    }
    .container{
        padding: 0;
        margin: 0;
    }
    .container-form .form h4{
        text-align: center;
        color: #000;
        margin-top: 5px;
    }
    .contact-section .color:nth-child(3){
        width: 0px;
        height: 0px;
        background-color: none;
        bottom:0px;
        right:0px;
    }
    .form{
        width: 80vw;
        height: 100%;
    }
    .container{
        padding: 0;
    }
    .first-section{
        background-color:  rgb(132, 0, 150);
        background-image: radial-gradient(270px circle at 0% 0%, white, transparent 100%),
        radial-gradient(220px circle at 90% 70%, rgb(151, 144, 144), transparent 100%)
        ;
        width: 100%;
        height: 50vh;
    }
    .welcome{
        margin-top: 100px;
        align-items: center;
        justify-content: center;
        }
    .about p{
        margin-top: 5px;
        text-align: center;
    }
    .about .hire-me {
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 0;
       margin: 0px 0px;
    }
    .about-section .heading{
        padding-top: 25px;
    }
    .container-form{
        position: relative;
        width: 120vw;
        height:100%;
        background: rgba(255, 255, 255, .3);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(5px);
        box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
        border: 1px solid rgba(255, 255, 255, .5);
        border-right:1px solid rgba(255, 255, 255, .2);
        border-bottom: 1px solid rgba(255, 255, 255, .2);
    }
    .services-sec{
        width: 100%;
    }
    .portfolio-sec{
        width: 100%;
    }
    .about-section{
        width: 100%;
    }
    .about-section img{
        width: 80%;
        margin-left: 50px;
    }
    .about-section .about{
        text-align: center;
    }
    .about {
        margin-top: 50px;
    }
    .about-span{
        padding: 0 25px;
    }
    button.navbar-toggler{
        margin-right: 30px;
    }
    .logo img{
        width: 10vw;
    }
    .about .hire-me {
        margin-bottom: 15px;
    }
    .port{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .project,
    .projects{
        margin: 20px;
    }
    .project img{
        height: 60vw;
    }
    .projects img{
        height: 60vw;
    }
    .project img{
        transition: transform 1500ms;
    }
    .projects img{
        transition: transform 1500ms;
    }
    .project img:hover{
        transform: scale(1.2);
        border-radius: 10px;
    }
    .projects img:hover{
        transform: scale(1.2);
        border-radius: 10px;
    }
    
    .previous-work{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
    }
    .card2{
        margin-top: 15px;
    }
    .card2 img{
        height: 30vh;
    }
    .sample-sec{
        width: 100%;
    }
    .skill-sec{
        width: 100%;
    }
    .card-1{
        width: 300px;
    }
    .logos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }
    .logo{
        margin: 15px 40px;
        
    }
    .footer{
        width: 100%;
        text-align: center;
    }
}
/* media query for mobile end */


/* media query for tab strt */
@media screen and (min-width: 768px) and (max-width:992px){

    .navbar{
        position: fixed;
        top: 0;
        left: 0px;
    width: 100%;
    height: 35vh;
    background: rgba(255, 255, 255, .1);
    transition: .3s;
    backdrop-filter: blur(5px);
    border-bottom:2px solid rgba(255, 255, 255, .2);
    align-items: center;
    }
    .navbar::before{
        content: "";
        left: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
        transition: 1s;
    }
    .first-section{
        width: 100%;
    }
    .services-sec{
        width: 100%;
    }
    .portfolio-sec{
        width: 100%;
    }
    .about-section{
        width: 100%;
    }
    .footer{
        width: 100%;
        text-align: center;
    }
    .about-section img{
        width: 40vw;
        height: 37vh;
        margin-left: 10px;
    }
    .about {
        margin-top: 10px;
    }
    .about .hire-me{
        padding: 5px 7px;
    }
    .navbar{
        position: fixed;
        top: 0;
        left: 0px;
    width: 100%;
    height: 15vw;
    background: rgba(255, 255, 255, .1);
    transition: .3s;
    backdrop-filter: blur(10px);
    border-bottom:2px solid rgba(255, 255, 255, .2);
    align-items: center;
    }
    .first-section{
        background-color:  rgb(36, 0, 53);
        background-image: radial-gradient(270px circle at 0% 0%, white, transparent 100%),
        radial-gradient(220px circle at 90% 70%, rgb(151, 144, 144), transparent 100%)
        ;
        width: 100%;
        height: 50vh;
    }
    .welcome{
        margin-top: 100px;
        align-items: center;
        justify-content: center;
        }
        .previous-work{
            grid-template-columns: repeat(2, 1fr);
            margin-left: 50px;
            width: 100%;
        }
        .card2{
            margin-top: 15px;
        }
        .card2 img{
            height: 20vh;
        }
        .sample-sec{
            width: 100%;
        }
        .contact-section{
            width: 100%;
        }
        .skills-section{
            width: 100%;
        }
        .portfolio-sec{
            width: 100%;
        }
        .contact-section .color:nth-child(1){
            width: 0px;
            height: 0px;
            background-color: none;
            top: 0px;
        }
        .contact-section .color:nth-child(2){
            width: 0px;
            height: 0px;
            background-color: none;
            bottom:0px;
            left: 0px;
        }
        .contact-section .color:nth-child(3){
            width: 0px;
            height: 0px;
            background-color: none;
            bottom:0px;
            right:0px;
        }
        .form{
            width: 60vw;
            height: 100%;
        }
}
/* media query for tab end */